<!-- These objects are accessible in this view, user has all user information and user_wants is an array of products that the user has placed on their wants list -->
<p> <%= @user %> </p>
<p> <%= @user_wants %> </p>