<script>


    // header.style.marginBottom = "100px";
</script>
<div class="top">
    <div class="top-container">
        <h1 class="h1 top-title">Start price tracking products in seconds.</h1>
        <form method="get" action="/products">
            <input type="text" placeholder="Search products" onfocus="this.placeholder = ''"  name="search">
            <input type="submit" value="SEARCH">
        </form>
    </div>
</div>
<main class="main">
    <p class="space-25"></p>
    <h2 class="h2 center">Find products by category</h2>
    <p class="space-50"></p>
    <div id="category" class="category">
        <div class="inner row collapse js-masonry" data-masonry-options='{
            "itemSelector": ".list",
            "transitionDuration": "0.1s"
         }'>
            <div class="list columns fl-l">
                <a href="/products?search=women">
                    <div class="inner">
                        <h3>WOMEN</h3>
                        <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-new-york.c24daa89656d.jpg" class="city">
                    </div>
                </a>
            </div>
            <div class="list columns fl-l">
                <a href="/products?search=bags">
                    <div class="inner">
                        <h3>BAGS</h3>
                        <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-chicago.1f01b0078281.jpg" class="city">
                    </div>
                </a>
            </div>
            <div class="list columns fl-l">
                <a href="/products?search=shoes">
                  <div class="inner">
                    <h3>SHOES</h3>
                    <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-los-angeles.6034ee9ad16d.jpg" class="city">
                 </div>
                </a>
            </div>
            <div class="list columns fl-l ">
                <a href="/products?search=beauty">
                  <div class="inner">
                    <h3>BEAUTY</h3>
                    <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-dallas.8716c5f94052.jpg" class="city">
                  </div>
                </a>
            </div>
            <div class="list columns fl-l">
                <a href="/products?search=jewelry">
                    <h3>JEWELRY</h3>
                    <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-boston.3de2c235c4ae.jpg" class="city">
                </a>
            </div>
            <div class="list columns fl-l">
                <a href="/products?search=men">
                    <h3>MEN</h3>
                    <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-philadelphia.d95c7f12d18b.jpg" class="city">
                </a>
            </div>
            <div class="list columns fl-l">
                <a href="/products?search=kids">
                    <h3>KIDS</h3>
                    <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-miami.43dd4699a5e3.jpg" class="city">
                </a>
            </div>
            <div class="list columns fl-l">
                <a href="/products?search=home">
                    <h3>HOME</h3>
                    <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-seattle.81c41daff3a9.jpg" class="city">
                </a>
            </div>
        </div>
    </div>
</main>