<!DOCTYPE html>
<html>
<head>
  <title>Pounce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="header">
		<div class="logo fl-l pd-side-30">Logo</div>
		<nav class="nav fl-r pd-side-30">
			<ul>
				<li>Signin</li>
				<li>Signup</li>
				<li>About</li>
			</ul>
		</nav>
	</header>

		<%= yield %>


</body>
</html>
