<!-- This is where we will show a list of user wants. The user object will be passed back. You will also have access to their list of fulfilled and unfulfilled wants as arrays.-->

<p><%= @user %></p>
<p><%= @fulfilled_wants %></p>
<p><%= @unfulfilled_wants %></p>

